00_Release/
01_Nuget/
debug/
release/
build/
bin/
obj/
cache/
log/
tmp/

*~
*.lock
*.DS_Store
*.swp
*.out
*.sou
*.suo
*.sqlite
/.vs/
/packages/
/source/.vs/
/source/packages/
/source/UnitTest/Xceed.Wpf.AvalonDock.Test/TestResults/0591701e-c0ff-4179-aa2b-4bf67c4b2a32
*.user
*.coverage
