<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Horizontal">
    <LayoutDocumentPane />
    <LayoutAnchorablePane Id="1111c3c9-a70c-4ba5-8a5c-b064d43ef6e7" Name="ToolsPane" DockWidth="375" DockMinWidth="375" />
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden>
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="File Stats" ContentId="FileStatsTool" CanClose="False" PreviousContainerId="1111c3c9-a70c-4ba5-8a5c-b064d43ef6e7" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Color Picker" ContentId="ColorPickerTool" CanClose="False" PreviousContainerId="1111c3c9-a70c-4ba5-8a5c-b064d43ef6e7" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Tool 1" ContentId="Tool1_Tool" CanClose="False" PreviousContainerId="1111c3c9-a70c-4ba5-8a5c-b064d43ef6e7" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Tool 2" ContentId="Tool2_Tool" CanClose="False" PreviousContainerId="1111c3c9-a70c-4ba5-8a5c-b064d43ef6e7" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Tool 3" ContentId="Tool3_Tool" CanClose="False" PreviousContainerId="1111c3c9-a70c-4ba5-8a5c-b064d43ef6e7" PreviousContainerIndex="0" />
  </Hidden>
</LayoutRoot>